{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>{{band.name}}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h4>Discos en Rankings</h4>
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <th>Rankings</th>
            </tr>
            {% for album in band.albums.all %}
            <tr>
                <td><a class="btn btn-danger" href="{{album.get_absolute_url}}">{{album.name}}</a></td>
                <td>
                    <ul class="nav nav-pills nav-stacked">
                    {% for r in album.in_rankings.all %}
                    <li><a href="{{r.ranking.get_absolute_url}}">{{r.ranking.title}}</a></li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}